<section *ngIf="step1" class="p-4 my-4 bg-main-light rounded shadow w-50 mx-auto section-bg pt-4">
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
      <div *ngIf="forgetForm.get('email')?.errors && forgetForm.get('email')?.touched" class="alert alert-danger p-1 small w-50 mx-auto">
        <p class="mb-0 text-center fs-6" *ngIf="forgetForm.get('email')?.getError('required')">Email is required</p>
        <p class="mb-0 text-center fs-6" *ngIf="forgetForm.get('email')?.getError('email')">Invalid email format</p>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="forgetForm.invalid">Forget Password</button>
    </div>
  </form>
</section>

<section *ngIf="step2" class="p-4 my-4 bg-main-light rounded shadow w-50 mx-auto section-bg pt-4">
  <form [formGroup]="resetcodeForm" (ngSubmit)="resetcode()">
    <div class="mb-3">
      <label for="resetCode" class="form-label">Reset Code</label>
      <input
        formControlName="resetCode"
        type="text"
        class="form-control"
        id="resetCode"
        placeholder="Enter reset code"
      />
      <div *ngIf="resetcodeForm.get('resetCode')?.errors && resetcodeForm.get('resetCode')?.touched" class="alert alert-danger p-1 small w-50 mx-auto">
        <p class="mb-0 text-center fs-6" *ngIf="resetcodeForm.get('resetCode')?.getError('required')">Reset code is required</p>
        <p class="mb-0 text-center fs-6" *ngIf="resetcodeForm.get('resetCode')?.getError('minlength')">Reset code must be at least 6 characters</p>
        <p class="mb-0 text-center fs-6" *ngIf="resetcodeForm.get('resetCode')?.getError('maxlength')">Reset code must not exceed 6 characters</p>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="resetcodeForm.invalid">Reset Code</button>
    </div>
  </form>
</section>

<section *ngIf="step3" class="p-4 my-4 bg-main-light rounded shadow w-50 mx-auto section-bg pt-4">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input
        formControlName="newPassword"
        type="password"
        class="form-control"
        id="newPassword"
        placeholder="Enter new password"
      />
      <div *ngIf="resetPasswordForm.get('newPassword')?.errors && resetPasswordForm.get('newPassword')?.touched" class="alert alert-danger p-1 small w-50 mx-auto">
        <p class="mb-0 text-center fs-6" *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">Password is required</p>
        <p class="mb-0 text-center fs-6" *ngIf="resetPasswordForm.get('newPassword')?.getError('minlength')">Password must be at least 6 characters</p>
        <p class="mb-0 text-center fs-6" *ngIf="resetPasswordForm.get('newPassword')?.getError('maxlength')">Password must not exceed 6 characters</p>
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="resetPasswordForm.invalid">Reset Password</button>
    </div>
  </form>
</section>
