button {
  background-color: #22db14;
  transition: all .5s;
  color: #fff;
}
.gold {
  color: #daa520;
}
.tes{
  color: black !important;
}
.fasa4{
  font-weight: 1000;
  font-size: 23px;
  color:RGB(33, 37, 41);

}
.fasa5{
  color:RGB(33, 37, 41);
  font-weight: bolder;
}
.fasa3{
  font-weight: 600;
}
